.eduHero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 700px;
  background-image: linear-gradient(to bottom, #c9efcf, var(--clr-primary-300));
  padding: 20px;
  scroll-behavior: smooth;

  margin-top: 60px;
}

.heroLeft {
  display: flex;
  flex-direction: column;
}

#sprout {
  width: clamp(40px, 8vw, 80px);
  height: auto;
  color: var(--clr-primary-400);
}

#heroLeftLower {
  display: flex;
}

#andSign {
  width: clamp(60px, 10vw, 100px);
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#engagement {
  align-self: flex-end;
}

.heroLeft div {
  display: flex;
  gap: 10px;
}

.heroDescriptionBox {
  background-color: var(--clr-primary-300);
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;

  width: 60vw;
  max-width: 700px;
}

#heroTitle {
  color: #00ad3d;
  font-size: clamp(1.5rem, 4vw, 2.25rem);
  font-style: italic;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

#herodesc {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 100;
  color: var(--clr-secondary-400);
}

.nestArrow {
  width: clamp(20px, 8vw, 50px);
  padding-left: 10px;
}

.pink {
  color: #ef71e5;
}

.eduBody {
  padding-top: 70px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.bodyTitle {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  color: #ef71e5;
}

.eventCard {
  background-image: linear-gradient(to bottom, #fcfff5, var(--clr-primary-300));
  width: 90%;
  padding: 40px;
}

.eventTitle {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 100;
  color: var(--clr-secondary-400);
}

.eventDate {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 100;
  color: #7eb3f8;
}

.eventDescription {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 100;
  color: var(--clr-primary-600);
}

@media (max-width: 768px) {
  .eduHero {
    flex-direction: column;
    gap: 40px;
  }

  .heroDescriptionBox {
    width: 80vw;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .eduHero {
    flex-direction: column;
    gap: 40px;
  }
}
