html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

.eduHero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 700px;
    background-image: linear-gradient(to bottom, #C9EFCF, var(--clr-primary-300));
    padding: 200px;
}

.heroLeft {
    display: flex;
    flex-direction: column;
}

#sprout {
    color: var(--clr-primary-400);
}

#heroLeftLower {
    display: flex;
}

#andSign {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#engagement {
    align-self: flex-end;
}

.heroLeft div {
    display: flex;
    gap: 10px;
}

.heroDescriptionBox {
    background-color: var(--clr-primary-300);
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

#heroTitle {
    color: #00AD3D;
    font-size: 36px;
    font-style: italic;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-weight: 600;
}

#herodesc {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    font-weight: 100;
    color: var(--clr-secondary-400);
}

.pink {
    color: #EF71E5;
}