.footer {
    min-height: 310px;
    width: 100%;
    background-color: var(--clr-primary-300);

    gap: 60px;
}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.footer-header h1 {
    font-size: clamp(0.875rem, 1.5vw, 1.125rem);
    font-weight: 700;
    color: var(--clr-primary-400);
}

.footer-header a {
    color: var(--clr-secondary-400);
}

.section1 {
    width: 100vw;
    gap: 15px;
}

.mission {
    max-width: 770px;
    font-size: clamp(0.875rem, 1.2vw, 1.125rem);

    text-align: center;
}

.mission u {
    color: var(--clr-secondary-400);
}

.cornellStatement, .section2 p, .cornellStatement a, .section2  {
    gap: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: clamp(0.688rem, 1vw, 0.875rem);
    font-weight: 100;
    color: var(--clr-primary-600);
}

@media (max-width: 768px) {
    .footer {
        padding: 30px;
    }

    .footer-header {
        flex-direction: column;
        gap: 25px;
    }

    .footer-header > div:first-child {
        display: none;
    }

    .footer-header > div {
        flex: none !important;
        justify-content: center !important;
    }

    .cornellStatement {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
}