.heroCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourTeams {
    padding-top: 5%;
    align-self: flex-start;
    padding-left: 10%;
    color: var(--clr-secondary-400);
    font-weight: 500;
    font-style: italic;
    font-size: 60px;
}

.teams {
    color: var(--clr-primary-500);
}

.heroMainBlock {
    background-color: var(--clr-primary-300);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 6%;
}

.heroLeftside {
    width: 50%;
}

.flashcard {
    background-color: rgb(255, 255, 255);
    aspect-ratio: 10 / 6;
    border-radius: 15px;
}

.heroRightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    aspect-ratio: 10 / 7;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heroRightside h2 {
    color: var(--clr-primary-600);
    font-weight: 600;
    font-size: 48px;
}

.heroRightside h4 {
    color: var(--clr-primary-500);
    font-weight: 300;
    font-size: 24px;
    justify-self: flex-start;
}

.learnMoreBtn {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-neutral-100);
    align-self: flex-end;
    border-radius: 15px;
    border-style: none;
    background-color: var(--clr-secondary-300);
    height: 51px;
    width: 208px;
}