html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.heroCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourTeams {
    padding-top: 5%;
    align-self: flex-start;
    padding-left: 10%;
    color: var(--clr-secondary-400);
    font-weight: 500;
    font-style: italic;
    font-size: 60px;
}

.teams {
    color: var(--clr-primary-500);
}

.heroMainBlock {
    background-color: var(--clr-primary-300);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 3%;
}

.heroLeftside {
    width: 50%;
}

.flashcard {
    background-color: rgb(255, 255, 255);
    aspect-ratio: 10 / 6;
    border-radius: 15px;
}

.heroRightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    aspect-ratio: 10 / 7;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heroRightside h2 {
    color: var(--clr-primary-600);
    font-weight: 600;
    font-size: 48px;
}

.heroRightside h4 {
    color: var(--clr-primary-500);
    font-weight: 300;
    font-size: 24px;
    justify-self: flex-start;
}

.membersBtn {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-neutral-100);
    align-self: flex-end;
    border-radius: 15px;
    border-style: none;
    background-color: var(--clr-secondary-300);
    height: 51px;
    width: 208px;
}



.claraSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 5%;
    padding-left: 10%;
}

.claraLeftside {
    position: relative;
    width: clamp(260px, 28vw, 380px);
    aspect-ratio: 1 / 1;
}

.claraPic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.claraVec {
    position: absolute;
    inset: 0;
    width: 140%;
    height: 140%;
    transform: translate(-19%, -13%);

}


.claraRightside h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--clr-primary-600);
    text-align: center;
    padding-bottom: 30px;
}

.claraRightside h4 {
    font-size: 24px;
    font-weight: 200;
    color: var(--clr-secondary-400);
    text-align: center;
}

.advisor {
    color: var(--clr-secondary-400);
}

.theTeams {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--clr-primary-600);
    gap: 50px;
}

.teamSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.teamTitle {
    width: 90%;
    height: 892x;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 60px;
    font-weight: 600;
}

.teamMembers {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    display: flex;
    gap: 71px;
    flex-wrap: wrap;
    justify-content: center;
}

.memPhoto {
    position: relative;
    width: clamp(260px, 30vw, 420px);
    aspect-ratio: 1 / 1;
}

.frame {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.aboveFrame {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
}


.aboveFrame h3 {
    white-space: nowrap;
    position: absolute;
    top: -6%;
    left: 15%;
    transform: none;
    font-size: clamp(32px, 2vw, 24px);
}

.aboveFrame h4 {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(24px, 1.6vw, 20px);
}

.aboveFrame h5 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(14px, 1.4vw, 18px);
}

.aboveFrame img {
    position: absolute;
    bottom: 10%;
    left: 80%;
    transform: translateX(-50%);
}

