.ourVision {
    width: 100vw;
    height: 380px;
    gap: 20px;

    background-color: var(--clr-primary-400);
}

.ourVision h1 {
    color: var(--clr-neutral-100);
    font-weight: 700;
}

.visionStatement {
    max-width: 770px;

    font-size: 20px;
    font-weight: 500;
}

.visionStatement u {
    color: var(--clr-primary-300);
}

/* group cards */

.group-card {
    max-width: 1310px;
    padding: 20px;
    gap: 30px;

    background-color: hsl(from var(--clr-primary-400) h s l / 0.2);
    border: 2px solid var(--clr-secondary-400);
    border-radius: 20px;
}

.group-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tags {
    display: flex;
    gap: 20px
}

.tags span {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    padding: 8px;

    border-radius: 10px;
}

.group-button {
    background-color: var(--clr-secondary-300);
    color: var(--clr-neutral-100);

    max-width: 210px;
    padding: 10px 0;
    border-radius: 15px;

    font-size: 20px;
    font-weight: 600;
}

.groupPhoto {
    max-width: 600px;
    border-radius: 50px;
}

.community {
    height: 884px;
}