* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--clr-primary-300);
    width: 100vw;
    padding: 6px clamp(20px, 5vw, 120px);
}

.logo, .apply {
    width: 120px;
}

.links ul {
    gap: clamp(10px, 3vw, 40px);
}

.link {
    text-decoration: none;
    color: var(--clr-primary-500);
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.link.active {
  color: var(--clr-secondary-300);
  font-weight: bold;
  border-bottom: 2px solid var(--clr-secondary-300);
}

.apply {
    background-color: var(--clr-secondary-300);
    color: var(--clr-neutral-100);

    height: 36px;
    border-radius: 10px;
}

.menu-icon {
    display: none; 
    cursor: pointer;
    color: var(--clr-primary-500);
    z-index: 1001;
}

.mobile-only { display: none; }

@media (max-width: 768px) {
    nav {
        padding: 10px 20px; 
    }

    .menu-icon {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    .links {
        position: fixed;
        right: -100%; 
        top: 0;
        height: 100vh;
        width: 70%; 
        background-color: var(--clr-primary-300);
        transition: 0.3s ease-in-out;
        box-shadow: -5px 0 15px rgba(0,0,0,0.1);
        z-index: 1000;
    }

    .links.active {
        right: 0; 
    }

    .links ul {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 50px; 
    }

    .mobile-only {
        display: block;
    }

    .apply-btn {
        background-color: var(--clr-secondary-300);
        padding: 10px 30px;
        border-radius: 10px;
        color: white;
        text-decoration: none;
    }
}