* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--clr-primary-300);
    width: 100vw;
    padding: 6px 120px;
}

.links ul {
    gap: 40px;
}

.link {
    text-decoration: none;
    color: var(--clr-primary-500);
}

.apply {
    background-color: var(--clr-secondary-300);
    color: var(--clr-neutral-100);

    width: 120px;
    height: 36px;
    border-radius: 10px;
}