.projectHero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 400px;
    background-image: linear-gradient(to bottom, #C9EFCF, var(--clr-primary-300));
    padding: 200px;
}

.projectContainer {
    background-color: var(--clr-neutral-100);
    max-height: fit-content;
    width: 100vw;
    gap: 20px;

    padding: 100px;
}

.projectCard {
    width: 60vw;
    height: 300px;

    gap: 50px;
}

.card-bio {
    display: flex;
    gap: 10px;
}

.image-container {
    width: 200px;
}