.projectHero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 700px;
    background-image: linear-gradient(to bottom, #C9EFCF, var(--clr-primary-300));
    padding: 200px;
}

.projectContainer {
    background-color: var(--clr-neutral-100);
    height: 500px;
}

.projectCard {
    width: 500px;
    height: 300px;
}

.image-container {
    background-color: gray;
    height: 500px;
    width: 500px;
}