.projectHero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 300px;
  background-image: linear-gradient(to bottom, #c9efcf, var(--clr-primary-300));
  padding: 20px;
}

.projectContainer {
  background-color: var(--clr-neutral-100);
  max-height: fit-content;
  width: 100%;
  gap: 60px;

  padding: 100px;
}

.projectCard {
  width: 60vw;
  height: auto;

  gap: 50px;
}

.card-bio {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-bio h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: var(--clr-primary-700);
}

.image-container {
  width: clamp(150px, 20vw, 250px);
  flex-shrink: 0;
}
.image-container img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
  .projectHero {
    height: 200px;
  }
  .projectContainer {
    padding: 60px 0;
  }

  .projectCard,
  .projectCard:nth-child(even) {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 20px;
  }

  .card-bio img {
    max-width: 90% !important;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .image-container {
    flex-direction: row !important;
    gap: 10px;
  }

  .image-container img {
    width: 60px;
  }
}
