:root {
  --clr-primary-600: hsl(113, 14%, 23%);
  --clr-primary-500: hsl(141, 21%, 43%);
  --clr-primary-400: hsl(143, 29%, 67%);
  --clr-primary-300: hsl(76, 41%, 95%);

  --clr-secondary-400: hsl(141, 43%, 52%);
  --clr-secondary-300: hsl(305, 88%, 86%);

  --clr-neutral-100: hsl(0, 0%, 100%);

  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-600);
}

body {
  font-family: 'JetBrains Mono', ui-monospace, monospace;
  overflow-x: hidden;
}

.font-sans, h1 {
  font-family: 'Open Sans', sans-serif;
}

.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}